{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Quai Antique{% endblock %}

{% block main %}
    <p>Bienvenue sur l'interface Admin !</p>
{% endblock %}